Description: adapt upstreams service file to Debian
Author: Marc Haber <mh+debian-packages@zugschlus.de>
Forwarded: no
Last-Update: 2016-08-07
--- a/atopacct.service
+++ b/atopacct.service
@@ -1,8 +1,6 @@
 [Unit]
 Description=Atop process accounting daemon
 Documentation=man:atopacctd(8)
-Conflicts=psacct.service
-After=syslog.target
 Before=atop.service
 
 [Service]
